


<form action="/" method="post">
    <legend>To Do</legend>

    <div class="form-group">
        <label for="todo">your list</label>
        <input type="text" class="form-control" name="todo" id="todo" placeholder="todo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>