<form action="/todo" method="post">
  Enter your todo <input type="text" name="todo">
  <button type="submit">Submit</button>
</form>



<h2>ToDo List</h2>
<table>
  {{#if result}}
  {{#each result}}
  <tr>
    <td>{{this.todo}} </td>
    <td><a href="/delete/{{this._id}}"><button type="submit">X</button></a></td>
    <td><a href="/find/{{this._id}}" ><button type="submit" >!</button></a></td>
  </tr>
  {{/each}}
</table>
{{else}}
<h4>Empty todo</h4>
{{/if}}
<a href="/logout" class="btn btn-warning">Logout</a>