<form action="/register" method="post">
    <h2>Registration</h2>
    <input type="text" name="name" placeholder="name" required></br>
    <input type="email" name="email" placeholder="Email" required></br>
    <input type="password" name="password" placeholder="Password" required><br>

    <input type="submit" value="Register">
    
</form>
<a href="/login"> <button>Signin</button></a>
<a href="/home"> <button>Home</button></a>